doctype html
html(lang="ru-RU")
  head
    title Hello world
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    //script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
  body
    .blue_block
    .content
      .above_header_img images here
      .header
        .header__backimage
          img(src="static/img/Tomato-Salad-PNG-image.png")
        .header__content
          .header__content__innerblock
            .preheader September 9
            .text_block
              p Today, our chief bring you through a travel around the world, with an entree from Europse, our best meat from American, and an authantic dessert from Asia.

        .header__text
          h1 Menu
      .t_block
        .t_block__backimage.t_block__backimage_leftside
          img(src="static/img/fruits.png")
        .t_block__innerblock.t_block__innerblock_yellow
        .t_block__content.t_block__content_width475 123
        .t_block__faceimage.t_block__faceimage_smallpic
          img(src="static/img/prod_table.png")
        .t_block__hr
      .t_block
        .t_block__backimage.t_block__backimage_rightside
          img(src="static/img/mint.png")
        .t_block__innerblock.t_block__innerblock_red
        .t_block__content.t_block__content_width450 123
        .t_block__faceimage.t_block__faceimage_widepic
          img(src="static/img/desk_steak.png")
        .t_block__hr
      .t_block
        .t_block__backimage.t_block__backimage_leftside
          img(src="static/img/mango.png")
        .t_block__innerblock.t_block__innerblock_olive
        .t_block__content.t_block__content_width475 123
        .t_block__faceimage.t_block__faceimage_smallpic
          img(src="static/img/fruit_desert.png")
        .t_block__hr
      .bottom
        .bottom__block gluten free & vegan available