doctype html
html(lang="ru-RU")
  head
    title Hello world
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    //script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
  body
    .content
      .above_header_img images
      .header
        .header__backimage
          img(src="static/img/Tomato-Salad-PNG-image.png")
        .header__content
          .header__content__innerblock
            .preheader September 9
            .text_block
              p Today, our chief bring you through a travel around the world, with an entree from Europse, our best meat from American, and an authantic dessert from Asia.

        .header__text
          h1 Menu
      .t_block
        .t_block__backimage
          img(src="static/img/fruits.png")
        .t_block__backblock
          .t_block__backblock__innerblock
        .t_block__content
        .t_block__faceimage
          img(src="static/img/prod_table.png")
      .t_block block2
      .t_block block3
      .bottom footer