doctype html
html(lang="ru-RU")
  head
    title Hello world
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
  body
    .content
      .above_header_img images
      .header
        .plate
          img(src="static/img/Tomato-Salad-PNG-image.png")
        .bg_block
          .under_header 2
          .header_text
            h1 Menu
      .t_block block1
      .t_block block2
      .t_block block3
      .bottom footer