@font-face
  font-family News Cycle
  font-style normal
  font-weight normal
  src url('fonts/NewsCycle.eot')
  src url('fonts/NewsCycle.eot?#iefix') format('embedded-opentype'),
  url('fonts/NewsCycle.woff') format('woff'),
  url('fonts/NewsCycle.woff2') format('woff2'),
  url('fonts/NewsCycle.ttf') format('truetype')

@font-face
  font-family News Cycle
  font-style normal
  font-weight bold
  src url("fonts/NewsCycle-Bold.eot")
  src url('fonts/NewsCycle-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/NewsCycle-Bold.woff') format('woff'),
  url('fonts/NewsCycle-Bold.woff2') format('woff2'),
  url('fonts/NewsCycle-Bold.ttf') format('truetype')