@font-face
  font-family News Cycle
  font-style normal
  font-weight normal
  src url('fonts/NewsCycle.eot')
  src url('fonts/NewsCycle.eot?#iefix') format('embedded-opentype')

@font-face
  font-family News Cycle
  font-style normal
  font-weight bold
  src url("fonts/NewsCycle-Bold.eot")
  src url('fonts/NewsCycle-Bold.eot?#iefix') format('embedded-opentype')