//COLORS
YELLOW_BG = rgba(205,209,94,0.95)
RED_BG = rgba(229, 79, 65,0.95)
OLIVE_BG = 	rgba(171, 126, 94,0.95)

html, body, h1
  margin 0
  padding 0

body
  background linear-gradient(to right, #E3E7EC, #D3DBE4)

.blue_block
  position absolute
  top 150px
  left 50%
  width 760px
  margin-left -(@width/2)
  height 3500px
  z-index 2
  background #2D3A4B
  box-shadow 0 0 50px rgba(122,122,122,0.75)

.content
  width 1280px
  margin 0 auto
  z-index 1

  .above_header_img
    height 150px

  .header
    position relative
    height 680px

    &__text
      position absolute
      top 125px
      width 100%
      z-index 4
      text-align center

      h1
        font-family News Cycle
        font-size 140px
        color white
        text-transform uppercase

    &__backimage
      position absolute
      top 50px
      left 30px

      img
        height 420px
        width 420px

    &__content
      position absolute
      left 50%
      margin-left -380px
      width 760px
      height inherit

      &__innerblock
        position absolute
        top 210px
        left 165px
        width 665px
        height 340px
        z-index 3
        color white
        box-shadow 0 0 100px rgba(0,0,0,0.35)
        background linear-gradient(to bottom,rgba(100,100,100,0.75),rgba(80,80,80,0.85))

        .preheader
          display inline-block
          margin 125px 125px 0px 125px
          padding-bottom 35px
          border-bottom 1px solid white
          font 21px News Cycle
          text-transform uppercase

        .text_block
          display inline-block
          margin 35px 125px 0px 125px
          width 360px

          p
            margin 0

  .t_block
    position relative
    height 880px

    &__backimage
      position absolute

      &_leftside
        top 350px
        left 30px

      &_rightside
        top 420px
        left 820px

      img
        height 400px
        width 400px

    &__innerblock
      position absolute
      width 960px
      height 500px
      z-index 3

      &_yellow
        top 170px
        left 190px
        background YELLOW_BG

      &_red
        top 170px
        left 125px
        background RED_BG

      &_olive
        top 170px
        left 190px
        background OLIVE_BG

    &__content
      position absolute
      height 400px
      z-index 4
      background white

      &_width475
        top 170px
        left 125px
        width 475px

      &_width450
        top 335px
        left 190px
        width 450px
        z-index 6

    &__faceimage
      position absolute
      z-index 5

      &_smallpic
        top 140px
        left 600px

      &_widepic
        top 240px
        left 360px

    &__hr
      position absolute
      left 50%
      bottom 0px
      z-index 5
      width 120px
      margin-left -(@width/2)
      height 4px
      background-color #3A4656

  .bottom
    height 400px

@import "fonts.styl"
@import "libs.styl"