html, body, h1
  margin 0
  padding 0

body
  background linear-gradient(to right, #D6DDE4, #D6DBE0)

.content
  width 1280px
  margin 0 auto
  z-index 1

  .above_header_img
    height 150px

  .header
    position relative
    height 680px

    .plate
      position absolute
      top 50px
      left 30px

      img
        height 420px
        width 420px

    .bg_block
      position absolute
      left 50%
      margin-left -380px
      width 760px
      height inherit
      background #2D3A4B
      z-index 2

      .under_header
        position absolute
        top 210px
        left 165px
        width 665px
        height 340px
        z-index 3
        background linear-gradient(to bottom, #000, #999)

      .header_text
        position absolute
        top 125px
        width 100%
        z-index 4
        text-align center

        h1
          color white
          text-transform uppercase
          font-size 140px


  .t_block
    height 680px
    background #2D3A4B

  .bottom
    height 80px

@import "libs.styl"