html, body, h1
  margin 0
  padding 0

body
  background linear-gradient(to right, #D6DDE4, #D6DBE0)

.content
  width 1280px
  margin 0 auto
  z-index 1

  .above_header_img
    height 150px

  .header
    position relative
    height 680px

    .header__text
      position absolute
      top 125px
      width 100%
      z-index 4
      text-align center

      h1
        font-family News Cycle
        font-size 140px
        color white
        text-transform uppercase

    .header__backimage
      position absolute
      top 50px
      left 30px

      img
        height 420px
        width 420px

    .header__content
      position absolute
      left 50%
      margin-left -380px
      width 760px
      height inherit
      background #2D3A4B
      z-index 2

      .header__innerblock
        position absolute
        top 210px
        left 165px
        width 665px
        height 340px
        z-index 3
        color white
        background linear-gradient(to bottom,rgba(100,100,100,0.75),rgba(80,80,80,0.75))

        .preheader
          display inline-block
          margin 125px 125px 0px 125px
          padding-bottom 35px
          border-bottom 1px solid white
          font 21px News Cycle
          text-transform uppercase

        .text_block
          display inline-block
          margin 35px 125px 0px 125px
          width 360px

          p
            margin 0

  .t_block
    height 680px
    background #2D3A4B

  .bottom
    height 80px

@import "fonts.styl"
@import "libs.styl"